/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DEBUG */

.debug .container {
  border: 1px solid black;
  height: 100px;
}

.debug [class*="col-lg-"] {
  height: 100%;
  border: 1px solid grey;
}

.debug footer {
  background-color: lightcoral;
}

/* HELPERS */

html {
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p, a {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.ghost-align::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.centering {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

/* NAVBAR */

.fixed_nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

header .container:first-child {
  height: 60px;
}

[class*="col-lg-"] {
  height: 100%;
}

.logo img {
  width: 80px;
}

[class*="nav_"] {
  text-align: right;
}

[class*="nav_"] ul, .nav_menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[class*="nav_"] ul li {
  display: inline-block;
  margin-left: 1rem;
}

[class*="nav_"] ul li a {
  color: black;
  text-transform: uppercase;
}

.nav_right ul li:not(:first-child) a {
  border-left: 1px solid black;
  padding-left: 0.5rem;
}

.nav_menu {
  padding-right: 1rem;
}

/* JUMBOTRON */

.container.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  height: 550px;
  max-width: 100%;
  color: white;
  text-align: center;
}

.jumbotron img {
  width: 150px;
  margin: 10px;
}

/* CARDS */

.card {
  background-color: #FAFAFA;
  text-align: center;
  padding: 6rem 3rem 2rem 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.card:nth-child(1) {
  margin-right: 1rem;
}

.card:nth-child(2) {
  margin-left: 1rem;
}

.col-lg-6.card {
  width: calc(50% - 1rem);
}

.card img.logo {
  width: 50%;
}

.card img {
  width: 80%;
}

.card a, .card h2 {
  display: block;
  text-decoration: none;
}

.card a, .card h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* BANNER */

.container.banner {
  max-width: 100%;
  background-image: url('../img/index-banner.jpg');
  background-size: 100% 600px;
  background-repeat: no-repeat;
  height: 800px;
}

.banner > .col-lg-4 {
  position: relative;
  text-align: center;
}

.banner > .col-lg-4 > div {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
}

.banner img {
  width: 80%;
}

/* CALL TO ACTION */

.container .cta.scooter {
  background-image: url('../img/scooter.jpg');
  height: 550px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container .cta {
  text-align: center;
}

.container .cta.iphone {
  background-image: linear-gradient(#41566A, #262F38);
  height: 451px;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  width: calc(50% - 1rem);
}

.cta.iphone > img {
  height: 300px;
  margin-top: 1rem;
}

.container .cta.city {
  background-image: url('../img/city.jpg');
  background-size: 100% 100%;
  height: 451px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: calc(50% - 1rem);
}

.family {
  background-image: url('../img/helbiz-family.jpg');
  height: 400px;
  margin-bottom: 2rem;
}

.family .bg-white {
  display: inline-block;
  padding: 3rem 5rem;
}

.family .bg-white > i {
  padding-right: 1rem;
}

/* FOOTER */

footer {
  background-color: black;
  padding-top: 2rem;
  font-size: small;
}

footer img {
  width: 100px;
}

footer .menu > li {
  list-style-type: none;
  padding-bottom: 1rem;
}

footer .menu > li > a {
  color: #6A6A6A;
}

footer .nav {
  border-top: 1px solid #6A6A6A;
  border-bottom:  1px solid #6A6A6A;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer i {
  padding-right: 1rem;
}

footer .nav a {
  color: white;
}

footer .nav-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer .nav-bottom img {
  border: 1px solid white;
  border-radius: 5px;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
